* {
    margin: 0;
    padding: 0;
    font-family: "Pacifico", cursive;
}

#background {
    background: linear-gradient(to left, rgb(135, 109, 156), rgb(220, 232, 233));
}

nav {
    display: flex;
    padding: 20px 30px;
    justify-content: space-around;
    margin-top: 20px;
    padding: 10px;
}

.size {
    width: 150px;
    height: 40px;
    margin-left: 20px;
}

nav ul li {
    display: inline;
    padding-right: 40px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(207, 69, 27);
}

.cont {
    border-radius: 50px;
    padding: 8px 35px;
    background: linear-gradient(rgb(238, 171, 27), rgb(214, 40, 101));
}

.attract {
    margin: 50px 60px;
    padding: 20px 15px;
}

.attract img {
    width: 600px;
    height: 400px;
    float: right;
}

.attract h1 {
    color: rgb(16, 221, 204);
    text-shadow: 1px 2px red;
    margin-left: 50px;

}

.attract h2 {
    color: crimson;
    margin-left: 50px;

}

.attract p {
    margin-top: 30px;
    color: rgb(2, 49, 22);
    margin-left: 50px;
}

.attract button {
    margin: 50px 0px 0px 100px;
    padding: 10px 50px;
    border-radius: 50px;
    background: linear-gradient(to left, rgb(53, 150, 196), rgb(206, 116, 43));
    border: none;
}

.attract button a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

a:hover {
    color: rgb(221, 6, 6);
    text-decoration: 3px orangered underline;
}

@media (max-width:667px) {
    .cont {
        border-radius: 50px;
        padding: 3px 20px;
    }

    .size {
        width: 90px;
        height: 20px;
        margin-left: 60px;
    }

    .attract {
        margin: 20px 30px;
        padding: 10px 7px;
    }

    .attract img {
        width: 100px;
        height: 100px;
        margin-right: 20px;
    }

    .attract h1 {
        margin-left: 10px;
        font-size: 20px;

    }

    .attract h2 {
        margin-left: 10px;
        font-size: 20px;
    }

    .attract p {
        margin-top: 20px;
        margin-left: 10px;
        font-size: 10px;
    }

    .attract button {
        margin: 25px 0px 0px 50px;
        padding: 4px 20px;
        border-radius: 50px;
    }
    .attract button a {
        font-size: 10px;
    }
}